body {
  margin: 0;
  padding: 0;
  background:  linear-gradient(180deg, rgba(249,249,249,1) 0%, rgba(231,237,184,1) 35%, rgba(73,11,11,1) 99%);
  background-size: cover;
  height: 100vh;
}

.login-box {
  width: 320px;
  height: 420px;
  background:white;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
  display: block;
}


.img_login-box{
  width: 310px;
  height: 410px;
  color: #fff;
  top: 50%;
  left: 50%;
  position:absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}



@media (min-width:300px){
  .login-box{
    width: 910px;
    height: 1510px;
  }
  
  .img_login-box{
    width: 900px;
    height: 1500px;
  }
}

@media (max-width:400px){
  .login-box{
    width: 310px;
    height: 410px;
  }
  
  .img_login-box{
    width: 310px;
    height: 410px;;
  }
}
